<h2>Off Canvas Contents:</h2>
<p>Yeah this is not a pretty demo, it is about encapsultating simple behaviors for the 
Off-Canvas user interface (UI design pattern) into Web Components.</p>
<p>Each component in the group may fire custom events that communicate a specific
command, while another component can listen, as the events bubble.</p>
<p>Checkout the <a href="https://github.com/pixelhandler/ember-off-canvas-components/tree/master/tests">
unit and acceptance tests</a> for more details.</p>
<p>See the <a href="https://github.com/pixelhandler/ember-off-canvas-components/tree/master/tests/dummy">
dummy directory in the github repo</a> to view the (app) source code for this demo.</p>
<br>
<p>Perhaps do some asynchronous stuff then close the panel...</p>
<button {{action 'asyncStuff' 'eoc-viewport' 'collapseOffCanvas'}}>Async Close</button>
<br><br>
<a href="https://github.com/pixelhandler/ember-off-canvas-components">View Source Github</a>
