@import 'variables';

ella-sample {
  background-color: $inactive_color_bg;
  color: $inactive_color;

  &[activated="true"] {
    background-color: $inactive_color_bg;
    color: $active_color;
  }
}
