// Variables

$width: 30em;
$border-color: #cccccc;
$transition-duration: 500ms;

$white-color: #eeeeee;
$medium-white-color: #fefefe;
$dark-white-color: #fcfcfc;
$light-color: #cccccc;
$medium-color: #898989;
$dark-color: #333333;
$shadow-color: rgba(0, 0, 0, 0.65);
